<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ES6</title>
</head>
<body>
    ES6 常用API 见控制台

    <p>111</p>
    <p>222</p>
    <p>333</p>

    <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>